<% provide(:title, 'About Us') %>
	<h1>About The Virtual Career Fair</h1>
	<p>
		This event is a unique opportunity for you to interview students and alumni from the 12 Big Ten universities without ever having to leave your office.  The schools that make up the Big Ten are: Illinois, Indiana, Iowa, Michigan, Michigan State, Minnesota, Nebraska, Northwestern, Ohio State, Penn State, Purdue, and Wisconsin.
		<br />
		<br />
		The event is designed to provide employers with meaningful access to a host of talented students and alumni --- all from the comfort of their corporate office chair.  Prior to the event, a company’s designated representatives will be able to search through a database filled with resumes of Big Ten talent.  Beyond resumes, registered employers will have access to completed student/alumni questionnaires detailing their willingness to relocate, career preferences and more.  Additionally, employers will be given blocks of time, when Virtual Career Fair students can chat directly with employee personnel.
		<br />
		<br />
		When you register for the fair, you will sign up for the hours during the two days of the event that you will be available to go online and chat with students and alumni.  As part of the registration process you will be asked to specify what job openings you are looking for, the level of experience you are seeking as well as other requirements for the position.  At the same time you will be able to go through the student and alumni resumes and are able to sort for types of candidates you are looking to hire.  If there are people you are interested in, you will be able to contact them in advance and let them know you would like to talk with them during the virtual fair.
	</p>

