<% provide(:title, 'Help') %>
	<h1>Help</h1>
		<div>
			<h2>Employers</h2><br />
			<p class="alert-info">
				Need to search resumes? Look in the upper right hand corner for the "Account." Click there to search.
			</p>
			<p class="alert-info">
				Having trouble using the search functionality? To search by job interest category, select the attribute that you want to match and type "true" into the text box.
			</p>
			<p class="alert-info">
				Want to keep track of the high quality candidate prior to the day of the event? Click to blue "Follow" button on the top of the student or alumnis profile. Then when you go back to your profile or home page you can click on the link that says "Following" on the left hand side. Then you can see everyone that you have followed.
			</p>
			<h2>Students</h2><br />
			<p class="alert-info">
				Want to get a preview of who might be interested in you? Check your homepage periodically to see if anyone is following you. Once you see that someone is. You will be able to follow them back and see all of the jobs that they have listed.
			</p>
		</div>


