<div class="pull-left"><%= image_tag("lilly_logo.png") %></div>
<div class="pull-right span6 alert alert-info block-message"><h4>Hours Available: Nov.29, 11:00am-2:00pm. Nov.30, 11:00am-2:00pm.</h4></div>
<div class="pull-right span6 alert alert-info block-message"><h4>Positions and internships available for accounting, agriculture, chemistry, communications, engineering, human resources, information technology, marketing, pharmaceuticals, and sales disciplines.</h4></div>
<div class="pull-right span6 alert alert-info block-message"><h4>Hiring on an intern, entry and experienced level.</h4></div>
<div class="span16 alert alert-success block-message"><p><h1>Welcome to the Eli Lilly & Company Virtual Booth! Our representatives will be speaking with you shortly.</h1></p></div>
<div class="span16 alert alert-warning block-message"><p><h1>While you are waiting please feel free to look at the jobs listed below.</h1></p></div>
<div class="pull-left span5 alert alert-info block-message"><p><h3>IT ANALYST</h3></p><p>Manufacturing IT supports operational excellence and productivity efforts through utilization of information and technology. This includes maximizing and exploiting existing systems at all levels, benchmarking and replicating as much as possible and using data to drive process improvements and productivity. This Manufacturing IT position, hosted at US Distribution – Plainfield, IN Distribution Center, partners with business operations and other functional areas (outside of US Distribution) to identify opportunities and lead activities that directly supports US Distribution’s key objectives. The position requires a variety of skill sets including business analysis (60%) and technical expertise (40%). This position is an integral part of the local IT team supporting the logistics business and warehouse operations, utilizing local applications as well as SAP-WM/IM/O2C. In addition, this position will have responsibility for understanding, implementation and support of the US Distribution Business Intelligence Strategy and reporting needs.</p><br />
<p>Project Delivery – lead the delivery of software/system solutions.</p>
<p>Be an expert and resource in the business use of certain IT applications, ensure the systems remain in a validated state, and are appropriately managed throughout their lifecycle.</p>
<p>Stay current with regulatory, legal, or quality requirements which impact our business areas, and ensure solution requirements comply.</p>
<p>Ensure that incident, problem, configuration, and change release management are all performed in alignment and compliance with business and quality needs.</p>
<p>Partner with IT peers across manufacturing and solution services to identify solutions to meet business partner needs.</p>
<p>Research and evaluatealternative technical solutions and develop business cases to support the business
Resolve challenging issues via break-fix testing, trouble tickets and/or change request.</p>
<p>Produce and maintain project and/or validation documentation, often in conjunction with a Validation or documentation specialist.</p>
<p>Influence the business to drive value and implement the appropriate technical solutions.</p>
<p>Accurately translate business processes, which may span multiple areas, into technical terms and vice versa</p>
<p>Find innovative ways to use existing and new IT-enabled solution to drive business value</p></div>

<div class="pull-right span5 alert alert-info block-message"><p><h3>RESEARCH SCIENTIST</h3></p><p>	
· Using appropriate biophysical tools and techniques to characterize the physiochemical properties of in-process materials, drug substance and drug product.
<br /><br />
· All aspects of laboratory operations including sample receipt, data generation, verification and interpretation, aberrant data investigations, instrument qualification, operation and trouble-shooting, and all supporting documentation for such activities, including appropriate use of LIMS and other informatics interfaces within the laboratory.
<br /><br />
· Participating as biophysical lead in and / or lead cross-functional teams, and effectively collaborate with other groups in Bioprocess and Bioproduct Development, Discovery, MS&T and Manufacturing, as well as contract research and other external organizations.
<br /><br />
· Authorship / review of technical reports and regulatory documents.
<br /><br />
· Identification and implementation of new technologies / capabilities.
<br /><br />
· Staying informed on relevant regulatory initiatives/ requirements
<br /><br />
· Coaching, training, and administration of performance management to personnel (primarily, but not limited to, direct reports)
<br /><br />
· Leading / supporting implementation of organizational strategic initiatives in support of the Lilly pipeline
<br /><br />
· Ensuring work is aligned with all relevant Development Quality, regulatory and HSE requirements.
<br /><br />
Basic Qualifications:
<br /><br />
Ph.D. in Biochemistry / Biophysics / Biophysical Chemistry, Chemical / Biochemical Engineering, or related field.<br /><br />
Thorough understanding of structure / conformation / function and relevant physical / chemical degradation pathways of proteins and other biomolecules.<br /><br />
Comprehensive knowledge of and experience with multiple experimental biophysical techniques used to assess higher order structure of proteins and other biomolecules.<br /><br />
Additional Skills/Preferences<br /><br />
Up to 2 years experience in pharmaceutical or biotech industry in utilizing biophysical techniques to characterize biomolecules<br /><br />
Experience with computational tools and techniques and the development of mathematical models to describe experimental data<br /><br />
Experience supervising direct reports<br /><br />
Demonstrated technical and scientific leadership skills<br /><br />
Proven ability to adapt and learn quickly<br /><br />
Demonstrated ability to work productively in both an interdisciplinary team environment and work  independently from the bench (design experiments, generate data and interpret results)<br /><br />
Effective oral and written communication skills<br /><br />
Demonstrated self-management, task planning and organizing skills; as well as problem solving and decision making skills</p></div>




